<div class="container col-md-5">

  <form (ngSubmit)="addNewMovie(movieName.value, movieSipnosis.value, movieGender.value, moviePublished.value, image.value, starts.value)">

      <label>Nombre de la pelicula</label><br />
      <input type="text" class="form-control" #movieName/><br />

      <label>Sipnosis de la pelicula</label><br />
      <textarea #movieSipnosis class="form-control" rows="4" cols="80"></textarea><br />

      <label>Nombre de la pelicula</label><br />
      <select #movieGender>
          <option value="Accion">Accion</option>
          <option value="Sci-Fic">Sci-Fic</option>
      </select><br />

      <label>Publicada el: </label><br />
      <input type="text" class="form-control" #moviePublished placeholder="yyyy/mmmm/dddd"/><br />

      <label> Selecciona una imagen de portada </label><br />
      <input type="text" class="form-control" #image/><br />

      <label> Puntua esta pelicula </label><br />
      <input type="number" class="form form-control" #starts /><br />

      <input type="submit" class="btn btn-success" value="Agregar Pelicula"/>
  </form>
   
</div>