<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="putMovie(movieName.value, movieGender.value)">
                    
                    <label>Nombre de la pelicula</label><br />
                    <input type="text" #movieName/>

                    <label>Genero de la pelicula</label><br />
                    <select #movieGender>
                        <option value="Accion">Accion</option>
                        <option value="Sci-Fic">Sci-Fic</option>
                    </select><br />
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="myModal2" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="putMovie(actorName.value, actorRole.value)">

                    <label>Nombre del actor</label><br />
                    <input type="text" #actorName />

                    <label>Rol del actor</label><br />
                    <input type="text" #actorRole />

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div *ngFor="let actor of actors; let i = 0; i++">
   <select>
        <option #actorName i>{{actor.name}}</option>
   </select>
</div>

<select>
    <option>asd</option>
</select>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal" (click)="movieToPut(movie)">Add Movie</button>
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal2" (click)="movieToPut(movie)">Add Actor</button>
